container_commands:
    01_syncdb:
        command: "django-admin.py syncdb --noinput"
        leader_only: true
    02_createadmin:
        command: "deploy/createadmin.py"
        leader_only: true
    03_collectstatic:
        command: "django-admin.py collectstatic --noinput"

option_settings:
    "aws:elasticbeanstalk:container:python:environment":
    DJANGO_SETTINGS_MODULE: "stacks.settings.production"
    "aws:elasticbeanstalk:container:python":
    WSGIPath: "stacks/wsgi.py"
    "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"
