container_commands:
    01_syncdb:
        command: "stacks/manage.py syncdb --noinput"
        leader_only: true
    02_createadmin:
        command: "deploy/createadmin.py"
        leader_only: true
    03_collectstatic:
        command: "stacks/manage.py collectstatic --noinput"

option_settings:
    - namespace: "aws:elasticbeanstalk:container:python:environment"
      option_name: DJANGO_SETTINGS_MODULE
      value: "stacks.settings.production"
    - namespace: "aws:elasticbeanstalk:container:python"
      option_name: WSGIPath
      value: "stacks/stacks/wsgi.py"
    - namespace: "aws:elasticbeanstalk:container:python:staticfiles"
      option_name: "/static/"
      value: "static/"
