    {% load staticfiles %}
    {# This page displays a grid of books in the users library. #}

    <div class="container book-grid">
      <div class="row">
        <div class="col-sm-2">
          <img class="img-responsive" src="{% static 'img/nocover.jpg' %}" />
        </div>
        <div class="col-sm-2">
          <img class="img-responsive" src="{% static 'img/nocover.jpg' %}" />
        </div>
        <div class="col-sm-2">
          <img class="img-responsive" src="{% static 'img/nocover.jpg' %}" />
        </div>
        <div class="col-sm-2">
          <img class="img-responsive" src="{% static 'img/nocover.jpg' %}" />
        </div>
        <div class="col-sm-2">
          <img class="img-responsive" src="{% static 'img/nocover.jpg' %}" />
        </div>
        <div class="col-sm-2">
          <img class="img-responsive" src="{% static 'img/nocover.jpg' %}" />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
          <img class="img-responsive" src="{% static 'img/nocover.jpg' %}" />
        </div>
        <div class="col-sm-2">
          <img class="img-responsive" src="{% static 'img/nocover.jpg' %}" />
        </div>
        <div class="col-sm-2">
          <img class="img-responsive" src="{% static 'img/nocover.jpg' %}" />
        </div>
        <div class="col-sm-2">
          <img class="img-responsive" src="{% static 'img/nocover.jpg' %}" />
        </div>
        <div class="col-sm-2">
          <img class="img-responsive" src="{% static 'img/nocover.jpg' %}" />
        </div>
        <div class="col-sm-2">
          <img class="img-responsive" src="{% static 'img/nocover.jpg' %}" />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
          <img class="img-responsive" src="{% static 'img/nocover.jpg' %}" />
        </div>
        <div class="col-sm-2">
          <img class="img-responsive" src="{% static 'img/nocover.jpg' %}" />
        </div>
        <div class="col-sm-2">
          <img class="img-responsive" src="{% static 'img/nocover.jpg' %}" />
        </div>
        <div class="col-sm-2">
          <img class="img-responsive" src="{% static 'img/nocover.jpg' %}" />
        </div>
        <div class="col-sm-2">
          <img class="img-responsive" src="{% static 'img/nocover.jpg' %}" />
        </div>
        <div class="col-sm-2">
          <img class="img-responsive" src="{% static 'img/nocover.jpg' %}" />
        </div>
      </div>
    </div>
