{% extends 'page.html' %}
{% load staticfiles %}

{% block stylesheets %}
  {{ block.super }}
  <link type="text/css" rel="stylesheet"  href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}

  <div class="container">
    <!-- Main Row in Container -->
    <div class="row">

      <!-- Image/Profile sidebar on left -->
      <div id="profile-sidebar" class="col-sm-3">

        <!-- Profile title box with picture -->
        <div class="gravatar">
          <img class="img-responsive img-rounded" src="{{ user.profile.gravatar }}"
             alt="Gravatar" title="{{ user.full_name }}" />
            <div class="mask">
              <a href="http://en.gravatar.com/emails/" rel="nofollow" title="Change Gravatar">Edit on Gravatar</a>
            </div>
        </div>

        <h2>{{ user.profile.full_name }}</h2>
        <h3 class="text-muted">{{ user.username }}</h3>

        <!-- Heads up profile info -->
        <hr class="profile-sep" />
        <ul class="list-unstyled">
          {% if user.profile.location %}
          <li id="userLocation">
            <i class="fa fa-map-marker"></i>
            {{ user.profile.location }}
          </li>
          {% endif %}
          <li id="userEmail"><i class="fa fa-envelope"></i> {{ user.email }}</li>
          <li id="userJoined"><i class="fa fa-clock-o"></i> Joined on {{ user.date_joined|date }}</li>
        </ul>

      </div><!-- image/profile sidebar ends -->

      <!-- Main Profile Area -->
      <div id="profile-content" class="col-sm-9">

        <!-- Profile Tab Navigation -->
        <div>

          <!-- edit profile button -->
          <button id="btnEditProfile" class="btn btn-default btn-sm pull-right"
              data-toggle="modal" data-target="#editProfileModal">
            <i class="fa fa-pencil"></i> Edit Profile
          </button>

          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#activity" data-toggle="tab">
                <i class="fa fa-rss"></i> Activity
              </a>
            </li>
          </ul>

          <div class="clearfix"></div>
        </div>
        <!-- end profile tabs -->

        <div class="tab-content">
          <div id="activity" class="tab-pane active">

          </div><!-- activity panel ends -->

        </div>

      </div><!-- main profile area ends -->
    </div>
  </div>

{% endblock %}

{% block modals %}
  {{ block.super }}

  <!-- CSRF for AJAX requests -->
  {% csrf_token %}

  <!-- Profile editing Modal -->
  {% include 'components/modals/edit-profile-modal.html' %}
{% endblock %}

{% block javascript %}
  {{ block.super }}

  <script type="text/javascript">
    (function($) {
        $(document).ready(function() {
            // Configure the profile application
            var csrfToken   = $('input[name="csrfmiddlewaretoken"]').val();
            $.ajaxSetup({headers: {"X-CSRFToken": csrfToken}});
            console.log("profile application ready");

            var profileForm  = $('#editProfileForm');
            var passwordForm = $('#setPasswordForm');
            var userDetail   = "{{ user.profile.get_api_detail_url }}";

            // When editProfileModal is closed - reset the forms
            $('#editProfileModal').on('hidden.bs.modal', function (e) {

              // Reset the profile form
              profileForm.removeClass('has-error');
              $("#profileHelp").text("");
              profileForm[0].reset();

              // Reset the password form
              passwordForm
                .removeClass('has-error')
                .removeClass('has-success');
              $('#passwordHelp').text("");
              passwordForm[0].reset();
            });

            // When the editProfileModal submit button is pressed ...
            $('#btnSubmitEditProfile').click(function(e) {
              e.preventDefault();

              var form = $('#editProfileModal .in form');
              form.trigger('submit');

              return false;
            });

            // Handle editProfileForm submission
            profileForm.submit(function(e) {
              console.log("Handling Submit Profile Form");
              e.preventDefault();

              // Get form data
              var formdata = _.object(_.map(profileForm.serializeArray(), function(obj) {
                  if (obj.value) {
                    return [obj.name, obj.value];
                  } else {
                    return [obj.name, $("input[name=" + obj.name + "]").attr("placeholder")];
                  }
              }));

              // Convert to expected JSON representation
              var data = _.pick(formdata, 'first_name', 'last_name', 'email');
              data.profile = _.pick(formdata, 'location', 'biography');

              // POST the changed biography data
              $.ajax({
                url: userDetail,
                method: 'PUT',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json'
              })
                .success(function(result) {
                  // Temporary
                  window.location = "/profile/";
                })
                .fail(function(jqXHR, textStatus, errorThrown) {
                  console.log(textStatus, errorThrown);
                  console.log(jqXHR);
                  profileForm.addClass('has-error');
                  $("#profileHelp").text("unable to update profile on the server!");
                  console.log("TODO: Get specific errors from jqXHR");
                });

              return false;
            });

            // Handle setPasswordForm submission
            passwordForm.submit(function(e) {
              console.log("Handling Submit Password!");
              e.preventDefault();
              // Get form data
              var data = {
                'password': $('#txtPassword').val(),
                'repeated': $('#txtRepeated').val()
              }
              // Validate the data
              if (data.password != data.repeated) {
                passwordForm.addClass('has-error');
                $('#passwordHelp').text("passwords do not match!");
                return
              } else if (data.password.length < 6) {
                passwordForm.addClass('has-error');
                $('#passwordHelp').text("password must be at least 6 characters");
                return
              }
              // POST the change password data
              var passwordEndpoint = userDetail + "set_password/";
              $.post(passwordEndpoint, data)
                .success(function(result) {
                  passwordForm.addClass('has-success')
                  $('#passwordHelp').text("password successfully changed!");
                })
                .fail(function(result) {
                  passwordForm.addClass('has-error');
                  $('#passwordHelp').text("could not reset password - server error");
                });

              return false;
            });

            // Helper function to hide elements
            function hide(elem) {
              elem.addClass("hidden").removeClass("show");
            }

            // Helper function to show elements
            function show(elem) {
              elem.addClass("show").removeClass("hidden");
            }
        });
    })(jQuery);
  </script>
{% endblock %}
